In [5]:
# What is the type of the result of: 6 // 2? (Note the double slash //.)

type(6//2) # double slash rounds down the output into the nearest whole number

int

In [6]:
# What is the type of the result of: "Hello, World!"

type("Hello, World!")

str

In [7]:
# What is the type of the result of: "hello" == "world"

type("hello" == "world")

bool

In [12]:
# Write the code to convert the following number representing employeeid "1001" to an integer

int("1001")

1001

In [13]:
# Write the code to convert this number representing financial value "1234.56" to a floating point number

float("1234.56")

1234.56

In [15]:
# Write the code to convert this phone number 123-456-7890 to a string

str("123-456-7890")

'123-456-7890'